# SQL로 표 만들기

- SAS는 각 문장마다 ;를 붙였지만 SQL은 모든 명령어를 완료한 뒤 가장 마지막에만 ;를 붙임

```SAS
PROC SQL;     /* SQL프로시저를 불러옴 */
SELECT NAME, AGE, HEIGHT     /* NAME, AGE, HEIGHT 컬럼을 선택 */
FROM SASHELP.CLASS     /* SASHELP라이브러리에 있는 CLASS 테이블을 불러옴 */
;     /* 모든 명령어 종료 */
QUIT;     /* SQL 종료 */
```

#### 테이블에서 전체 컬럼 가져올 때

```SAS
PROC SQL;
SELECT *
FROM SASHELP.CLASS
;
QUIT;
```

# SQL로 테이블 만들기

```SAS
PROC SQL;
CREATE TABLE TEST AS     /* TEST테이블을 만들고 세부 내용은 AS이하를 따름 */
SELECT NAME, AGE, HEIGHT
FROM SASHELP.CLASS
;
QUIT;
```

#### 위와 동일한 결과가 나오는 코드를 SAS문법으로 작성

```SAS
DATA TEST(KEEP=NAME AGE HEIGHT);
SET SASHELP.CLASS;
RUN;
```

# SQL로 사칙연산하기

```SAS
PROC SQL;
CREATE TABLE TEST AS
SELECT NAME, SEX, AGE, HEIGHT, AGE+HEIGHT     /* +, -, *, /를 사용한 사칙연산 가능 */
FROM SASHELP.CLASS
;
QUIT;
```

#### 다양한 수식

```SAS
PROC SQL;
CREATE TABLE TEST AS
SELECT NAME, AGE, HEIGHT, WEIGHT, SUM(AGE), SUM(HEIGHT,WEIGHT), MEAN(AGE), MEDIAN(AGE), MIN(AGE), MAX(AGE), VAR(AGE), STD(AGE), COUNT(AGE)
FROM SASHELP.CLASS
;
QUIT;
```

# SQL로 새 컬럼 이름 부여하기(기존 컬럼 이름 변경도 동일) - AS

```SAS
PROC SQL;
CREATE TABLE TEST AS
SELECT NAME, SEX AS MALE_FEMALE, AGE+HEIGHT AS SUM     /* SEX컬럼의 이름을 MALE_FEMALE로 바꾸고, AGE컬럼과 HEIGHT컬럼을 더한 값의 컬럼 이름을 SUM으로 함 */
FROM SASHELP.CLASS
;
QUIT;
```